########################################################

#Copyright (c) DeepSphere.AI 2021

# All rights reserved

# We are sharing this partial code for learning and research, and the idea behind us sharing the source code is to stimulate ideas #and thoughts for the learners to develop their MLOps.

# Author: # DeepSphere.AI | deepsphere.ai | dsschoolofai.com | info@deepsphere.ai

# Release: Initial release

#######################################################s

In [9]:
from scipy.special import exprel
import pandas as pd

In [2]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
!ls '/content/gdrive/MyDrive/BCA_S2_U6'

M1  M3	U6-M1.csv  U6-M2.csv  U6_M3.csv

In [11]:
df = pd.read_csv('/content/gdrive/MyDrive/BCA_S2_U6/U6-M1.csv')
df

  student_name  marks
0          Raj   98.0
1          Ram   54.0
2        Kavya   46.7
3       Sanoop   87.0
4       Vidhya   76.0
5         Pavi   92.5
6         Raga   84.0
7        Jeeva   75.0
8       Geetha   59.3
9        madhu   95.0

EXPREL()

    The function math.exprel() returns the relative error exponential of the passed value. The result is a float value.

In [12]:
df['exprel'] = ''

for i in range(0,len(df)):
  df.exprel[i] = exprel(df.marks[i]/100)

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

  student_name  marks    exprel
0          Raj   98.0  1.698425
1          Ram   54.0  1.325939
2        Kavya   46.7  1.274521
3       Sanoop   87.0   1.59415
4       Vidhya   76.0  1.497732
5         Pavi   92.5  1.645263
6         Raga   84.0  1.567104
7        Jeeva   75.0  1.489333
8       Geetha   59.3  1.364938
9        madhu   95.0  1.669168