In [ ]:
import math
import pandas as pd
data = {'Name':['Raj','Sam','Ram'],
        'Marks':[15,-17.9,20.3]}
df = pd.DataFrame(data)
df

  Name  Marks
0  Raj   15.0
1  Sam  -17.9
2  Ram   20.3

In [ ]:
df['Ceil'] = ""
df['Floor'] = ""
df['Fabs'] = ""
df['Fsum'] = 0
df['ModF_Frac'] = ""
df['ModF_Intgl'] = ""
for i in range(0,len(df)):
  df.Ceil[i] = math.ceil(df.Marks[i])
  df.Fabs[i] = math.fabs(df.Marks[i])
  df.Floor[i] = math.floor(df.Marks[i])
  if i == 0:
    df.Fsum[i] = df.Marks[i]
  else:
    df.Fsum[i] = math.fsum([df.Marks[i],df.Fsum[i-1]])
  a = math.modf(df.Marks[i])
  df.ModF_Frac[i] = a[0]
  df.ModF_Intgl[i] = a[1]

In [ ]:
df

  Name  Marks Ceil Floor  Fabs  Fsum ModF_Frac ModF_Intgl
0  Raj   15.0   15    15    15    15         0         15
1  Sam  -17.9  -17   -18  17.9    -2      -0.9        -17
2  Ram   20.3   21    20  20.3    18       0.3         20