In [ ]:
########################################################

#Copyright (c) DeepSphere.AI 2021

# All rights reserved

# We are sharing this partial code for learning and research, and the idea behind us sharing the source code is to stimulate ideas #and thoughts for the learners to develop their MLOps.

# Author: # DeepSphere.AI | deepsphere.ai | dsschoolofai.com | info@deepsphere.ai

# Release: Initial release

#######################################################

In [1]:
import pandas as pd 
import math

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
!ls '/content/gdrive/MyDrive/BCA_S2_U6'

M1  M3	U6-M1.csv  U6-M2.csv  U6_M3.csv

In [4]:
df = pd.read_csv('/content/gdrive/MyDrive/BCA_S2_U6/U6_M3.csv')
df

   view_height  elevation_angle
0           90               30
1           90               60
2           90               36
3           60               70
4           60               45
5           60               80
6           80               30
7           80               60
8           80               36
9           80               70

ATAN()

    Returns the arc tangent of the passed value X. The result will be in randians

In [5]:
df['Tan_angle'] = ''
df['Wall_height'] = ''

# The following lines compute the height of each wall provided the elevation height and angle
for i in range(0,len(df)):
  #math.radians
  #math.tan
  df.Wall_height[i] = math.fabs((df.view_height[i])*(math.tan(math.pi/math.radians(df.elevation_angle[i]))))
  df.Tan_angle[i] = math.fabs(math.tan(math.pi/math.radians(df.elevation_angle[i])))
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

   view_height  elevation_angle Tan_angle Wall_height
0           90               30  0.291006   26.190557
1           90               60  0.142547   12.829189
2           90               36  3.380515  304.246351
3           60               70    0.6412   38.472004
4           60               45  1.157821   69.469277
5           60               80  1.238628   74.317657
6           80               30  0.291006   23.280495
7           80               60  0.142547   11.403723
8           80               36  3.380515    270.4412
9           80               70    0.6412   51.296006